.editor {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;

  .editor__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 0.2rem 0;

    .editor__button {
      display: inline-block;
      outline: none;
      // width: 100%;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      transition: border 0.2s ease-in-out, box-shadow 0.1s ease-in-out;

      &:hover {
        border: 1px solid #dddddd;
      }

      &:active {
        box-shadow: inset 0 2px 4px 0 rgba(104, 90, 150, 0.2);
      }
    }

    .editor__button-toggle {
      flex-grow: 1;
    }
  }

  .editor__content {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;

    .editor__content-item {
      flex-shrink: 0;
      width: 100%;
      opacity: 1;
      outline: 0;
    }
  }

  // .CodeMirror {
  //   height: auto;
  // }

  // .CodeMirror-scroll {
  //   height: auto;
  // }
}

.vue-codemirror, .CodeMirror {
  height: 100% !important; 
}