$main-color: #5a4ba3;

.tab {
  overflow: hidden;
}

.tab__header {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  user-select: none;
  overflow: auto;

  white-space: nowrap;
  border-bottom: 1px solid #dfdfdf;
  
  &::-webkit-scrollbar {
    height: 1px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background: #dfdfdf; 
  }
}

.tab__header-item {
  padding: 0.5rem 1rem;
  height: 100%;
  cursor: pointer;
  margin-right: 1rem;
  list-style: none;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out 0s;

  &:not(.tab__header-item_disabled):hover {
    background-color: #f6f6f6;
  }
}

.tab__header-item_disabled {
  cursor: default;
  color: #999999;
}

.tab__item-close:hover {
  color: #e74c3c;
}

.tab__selected-bar {
  position: absolute;
  background-color: $main-color;
  height: 0.125rem;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out 0s;
}

.tab__content {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out 0s;
}

.tab-item {
  flex-shrink: 0;
  width: 100%;
  opacity: 1;
  outline: 0;
  transition: opacity .3s;
}